<!DOCTYPE html>
<html>
<head>
    <title>Connexion RATP</title>
    <link rel="stylesheet" type="text/css" href="projettrain\train\styles\styles2.css">
</head>
<body>
    <header>
        <h1>Connexion RATP</h1>
    </header>
    <main>
        <form>
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username">
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password">
            <button type="submit">Connexion</button>
        </form>
    </main>
    <footer>
        <p>Copyright © 2024 RATP</p>
    </footer>
</body>
</html>