<!DOCTYPE html>
<html>
<head>
    <title>Train</title>
    <link rel="stylesheet" type="text/css" href="projettrain\train\styles\styles.css">
</head>
<body>
    <header>
        <h1>Bienvenue sur RATP</h1>
    </header>
    <nav>
        <ul id="nav">
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Liste</a></li>
            <li><a href="#">Compte</a></li>
        </ul>
    </nav>
    <main>
        <h2>Trouvez votre prochain voyage en train</h2>
         <form>
            <label for="destination">Destination:</label>
            <input type="text" id="destination" name="destination">
            <label for="date">Date:</label>
            <input type="date" id="date" name="date">
            <label for="time">Heure:</label>
            <input type="time" id="time" name="time">
            <button type="submit">Rechercher</button>
        </form>
    </main>
    <footer>
        <p>Copyright © 2024 RATP</p>
    </footer>
</body>
</html>