<!DOCTYPE html>
<html>
<head>
	<title>Liste des trains - RATP</title>
	<link rel="stylesheet" type="text/css" href="projettrain\train\styles\styles3.css" media=”screen” />
</head>
<body>
	<header>
		<h1>Liste des trains - RATP</h1>
	</header>
	<nav>
		<ul>
			<li><a href="#ligne1">Ligne 13</a></li>
			<li><a href="#ligne2">Ligne 1</a></li>
			<li><a href="#ligne3">Ligne 9</a></li>
			<li><a href="#ligne4">Ligne 6</a></li>
			<li><a href="#ligne5">Ligne 4</a></li>
		</ul>
	</nav>
	<main>
		<h2>Lignes</h2>
		<section id="ligne1">
			<h3>Ligne 1</h3>
		</section>
		<section id="ligne2">
			<h3>Ligne 2</h3>
		</section>
		<section id="ligne3">
			<h3>Ligne 3</h3>
		</section>
		<section id="ligne4">
			<h3>Ligne 4</h3>
		</section>
		<section id="ligne5">
			<h3>Ligne 5</h3>
		</section>
	</main>
</body>
</html>